body, html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}
.display-value {
    text-align: center;
}

.form-container {
    margin: 2rem;
    text-align: center;
}

.coin-container {
    text-align: center;
}

.coin {
    display: inline-block;
    background-color: silver;
    border-radius: 50%;
    text-align: center;
    margin: 1rem;
}

.quarter {
    height: 8rem;
    width: 8rem;
    line-height: 8rem;
}

.dime, .penny{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
}

.nickel {
    height: 6.5rem;
    width: 6.5rem;
    line-height: 7rem;
}

.penny {
    background-color: brown;
}